body{
	background-image: url(School_Notebooks_Pencils_Ballpoint_pen_561232_1280x853.jpg);
	background-size: cover;
	background-attachment: fixed;
}

h1{
	font-family: comic sans ms ;
	color: grey;
	text-align: center;	
	border-bottom: 200px;
	margin-bottom: 0px;
}

.coba1{
	margin-top: 150px;
	margin-left:470px;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 1px;
	background: rgba(255,255,255,.3);
	height: 400px;
	width:400px;
	border-radius: 25px;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}

.layer1 input{
	margin-top: 20px;
	margin-bottom: 30px;
	height: 10px;
	width: 120px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom-color: white;
	outline: none;
	font-color:gray;
	background:transparent;
	transition: 0.25s;
}

.layer2 input{
	margin-bottom: 20pt;
}

input[type="submit"]{
	color: black;
	margin: auto;
	width: 80px;
	height:40px;
	background-color: white;
	border-radius: 10px;
	transition: 0.1s;
	cursor: pointer;
}